.shortcut {
	margin: 0 15px;
	text-decoration: none !important;
	font-size: x-large;
}

.shortcut:hover {
	color: #19569c !important;
}

nav {
	background-color: white;
	box-shadow: 0px 2px 5px rgb(179, 179, 179);
}

#logo {
	width: 60px;
}

.nav-button {
	background: #4984c6;
	color: white;
}
